[Unit]
Description=CringeCastNet service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/cringebox/CringeCastNet/bin
ExecStart=./cringecast-client --mqtt-url=tcp://localhost:1883 --mqtt-password=pass

[Install]
WantedBy=multi-user.target

